[submodule "Submodules/Commandant"]
	path = Submodules/Commandant
	url = https://github.com/daltonclaybrook/Commandant.git
	branch = dc-remove-result-dependency
[submodule "Submodules/Yams"]
	path = Submodules/Yams
	url = git@github.com:jpsim/Yams.git
[submodule "Submodules/Curry"]
	path = Submodules/Curry
	url = https://github.com/thoughtbot/Curry.git
